body {
    margin: 0%;
    width: 100%;
    height: 100%;
    color: rgb(202, 202, 202);
}

header {
    background-color: rgba(15, 15, 15, 0.9);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: fixed;
    top: 0%;
    z-index: 5;
}

#name {
    font-size: 3.5vw;
    margin: 0%;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 0.5%;
}

#linksdiv {
    margin-left: 55%;
    margin-bottom: 1%;
    font-size: 1.5vw;
}

.headerlink {
    color: rgb(202, 202, 202);
}

section {
    height: 100vh;
    margin: 0%;
    padding: 0%;
}

.sectioncontent {
    width: 70%;
    height: 55%;
    margin: 0px;
    padding: 0%;
    position: relative;
    left: 30%;
    top: 28%;
    background-color: rgba(7, 7, 7, 0.4);
    z-index: 1;
}

.sectionheader {
    font-size: 2.5vw;
    width: 30%;
    position: relative;
    left: 15%;
    top: -28%;
    z-index: 3;
}

#home {
    background: url(./images/lsu-blacknwhite-background.jpg);
    background-size: cover;
}

#homecontent {
    width: 40%;
    position: absolute;
    left: 35%;
    top: 28%;
    z-index: 2;
}

#profilepic {
    width: 30%;
    position: absolute;
    left: 5%;
    top: 12%;
    z-index: 2;
}

#homeskillz {
    width: 40%;
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 2;
}

#logodiv {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logoimg {
    width: 6vw;
}

.contactlogo {
    width: 10vw;
}

.biggerlogo {
    width: 4.5vw;
    margin-top: 2%;
    margin-left: 1%;
}

#jslogo {
    width: 5.4vw;
}

#sequelizelogo {
    width: 4.2vw;
    margin-left: 3%;
}

.hometitle {
    font-size: 1.7vw;
}

.hometext {
    font-size: 1.2vw;
}

#projects {
    background: url(./images/longdark-background-img.jpg);
    background-size: cover;
}

.projectimg {
    width: 20vw;
}

.projectgithublogo {
    width: 2vw;
}

.projectdiv {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.projecttitle {
    font-size: 2vw;
}

.projectinfo {
    font-size: 1.1vw;
    margin-left: 3%;
}

.projectlinks {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.demolink {
    color: rgb(202, 202, 202);
    font-size: 1.4vw;
}

#magicgathered {
    position: relative;
    left: 36%;
    top: -43%;
}

#contact {
    background: url(./images/letter-background-img.jpg);
    background-size: cover;
}

.contactlink {
    width: 10vw;
    position: relative;
    left: 36%;
    top: -30%;
    margin-left: 4%;
    z-index: 3;
}
